{%- assign show_announcement = false -%}
{%- assign announcement_block_count = 0 -%}
{% for block in section.blocks %}
    {% if block.type == 'announcement' and block.settings.enabled %}
        {%- assign show_announcement = true -%}
        {%- assign announcement_block_count = announcement_block_count | plus: 1 -%}
    {% endif %}
{% endfor %}


{% if show_announcement %}
    <style>
        :root {
            --chums-announcement-bar-height: 30px;
            --chums-announcement-bar-bg-color: {{ settings.color_announcement | default: '#1c1d1d' }};
            --chums-announcement-bar-color: {{ settings.color_announcement_text | default: '#fff' }};
        }
        .announcement-bar {
            position: relative;
            text-align: center;
            background-color: var(--chums-announcement-bar-bg-color);
            color: var(--chums-announcement-bar-color);
            padding: 10px 0;
        }
        .announcement-bar .carousel-caption {
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            color: white;
            margin-left: 3rem;
            margin-right: 3rem;
        }


        .announcement-text {

        }
    </style>
    <div class="announcement-bar">
        <div class="page-width">
            <div id="AnnouncementCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="10000">
                <div class="carousel-inner">
                    {% assign slide_index = 0 %}
                    {% for block in section.blocks %}
                        {% if block.type == 'announcement' and block.settings.enabled %}
                            {% assign link_target = "_self" %}
                            {% if block.settings.link.type == 'external_link' %}
                                {% assign link_target = "_blank" %}
                            {% endif %}
                            {% capture carousel_text %}
                                <div class="carousel-caption">
                                    {% if block.settings.text != blank %}
                                        <span class="announcement-text">{{ block.settings.text }}</span>
                                    {% endif %}
                                    {% if block.settings.link_text != blank %}
                                        <span class="announcement-link-text">{{ block.settings.link_text }}</span>
                                    {% endif %}
                                </div>
                            {%endcapture%}
                            <div class="carousel-item {% if slide_index == 0 %}active{% endif %}">
                                {% if block.settings.link != blank %}
                                    <a href="{{ block.settings.link }}" target="{{ link_target }}" rel="noreferrer">
                                        {{ carousel_text }}
                                    </a>
                                {% else %}
                                    {{ carousel_text }}
                                {% endif %}
                            </div>
                            {%- assign slide_index = slide_index | plus: 1 -%}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
