<div class="image-hero--wrapper image-hero--{{ article.id }}">
    {% unless section.settings.parallax %}
        {{ article.image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'img-fluid image-hero--image' }}
    {% endunless %}
</div>
{% assign textAlign = 'center' %}
{% assign alignItems = 'center' %}
{% assign alignCase = block.settings.text_align | split: ' ' | first %}
{% assign textCase = block.settings.text_align | split: ' ' | last %}
{% if textCase == 'horizontal-left' %}
    {% assign textAlign = 'left' %}
{% elsif textCase == 'horizontal-right' %}
    {% assign textAlign = 'right' %}
{% else %}
    {% assign textAlign = 'center' %}
{% endif %}
{% if alignCase == 'vertical-center' %}
    {% assign alignItems = 'center' %}
{% elsif alignCase == 'vertical-bottom' %}
    {% assign alignItems = 'flex-end' %}
{% else %}
    {% assign alignItems = 'flex-start' %}
{% endif %}

{% style %}
    .image-hero--{{ article.id }} {
        position: relative;
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    {% if section.settings.parallax and article.image %}
        .image-hero--{{ article.id }} {
            background-image: url({{ article.image | image_url: width: 1024 }});
            min-height: {{ 1024 | divided_by: article.image.aspect_ratio }}px;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: {{ section.settings.focal_point }};
        }
        @media (min-width: 576px) {
            .image-hero--{{ article.id }} {
                background-image: url({{ article.image | image_url: width: 2000 }});
                height: {{ section.settings.section_height }};
            }
        }
    {% endif %}
    .image-hero--{{ article.id }} .image-hero--image {
        max-height: {{ section.settings.section_height }};
        object-fit: cover;
        display: block;
    }
{% endstyle %}
