{% comment %}
no variables required for render
{% endcomment %}
<div class="ajaxcart__promo_link mt-3 mb-5" tabindex="0">
    <style>
        .cart-promo--link {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-around;
        }
    </style>
    <div>
        {{ settings.cart_promo_text | link_to: settings.cart_promo_link }}
    </div>
    {% assign promo_image_size = '350x' %}
    {% assign cart_promo_link_type = settings.cart_promo_link | remove_first: '/' | split: '/' | first %}
    {% assign cart_promo_link_to = settings.cart_promo_link | split: '/' | last %}
    {% if cart_promo_link_type == 'collections' %}
        {% assign collection = collections[cart_promo_link_to] %}
        {% assign link_title = settings.cart_promo_link_text | default: collection.title %}
        {% assign link_classname = '' %}

        {% if settings.cart_promo_link_button %}
            {% assign link_classname = 'btn btn--full' %}
        {% endif %}
        <div class="cart-promo--link">
            <a href="{{ collection.url }}" rel="noopener" class="{{ link_classname }}">
                {% if settings.cart_promo_show_image and collection.image != blank %}
                    <div>
                        <img src="{{ collection.image | img_url: promo_image_size }}"
                             alt="{{ collection.title }}" class="img-fluid">
                    </div>
                {% endif %}
                <div>
                    {{ link_title }}
                </div>
            </a>
        </div>
    {% elsif cart_promo_link_type == 'products' %}
        {% assign product = all_products[cart_promo_link_to] %}
        {% assign link_title = settings.cart_promo_link_text | default: product.title %}
        {% assign link_classname = '' %}

        {% if settings.cart_promo_link_button %}
            {% assign link_classname = 'btn btn--full' %}
        {% endif %}

        <div class="cart-promo--link">
            <a href="{{ product.url }}" rel="noopener" class="{{ link_classname }}">
                {% if settings.cart_promo_show_image and product.featured_image != blank %}
                    <div>
                        <img src="{{ product.featured_image | img_url: promo_image_size }}" alt="{{ product.title }}"
                             class="img-fluid">
                    </div>
                    <div>
                        {{ link_title }}
                    </div>
                {% else %}
                    <div>
                        {{ link_title }}
                    </div>
                {% endif %}
                <div>
                    {% if on_sale %}
                        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                        <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                    {% endif %}
                    {% if product.price_varies %}
                        {%- assign price = product.price_min | money -%}
                        {{ product.price_min | money }} &ndash; {{ product.price_max | money }}
                    {% else %}
                        {{ product.price | money }}
                    {% endif %}
                    {% if on_sale %}
                        {% if settings.product_save_amount %}
                            {% if settings.product_save_type == 'dollar' %}
                                {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}
                            {% else %}
                                {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round }}%{% endcapture %}
                            {% endif %}
                            <span class="grid-product__price--savings">{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</span>
                        {% endif %}
                    {% endif %}
                </div>
            </a>
        </div>
    {% elsif cart_promo_link_type == 'pages' %}
        {% assign page = pages[cart_promo_link_to] %}
        {% assign link_title = settings.cart_promo_link_text | default: page.title %}
        {% assign link_classname = '' %}

        {% if settings.cart_promo_link_button %}
            {% assign link_classname = 'btn btn--full' %}
        {% endif %}

        <div class="cart-promo--link">
            <a href="{{ page.url }}" rel="noopener" class="{{ link_classname }}">
                {% if settings.cart_promo_show_image and page.image != blank %}
                    <img src="{{ page.image | img_url: promo_image_size }}" alt="{{ page.title }}"
                         class="img-fluid">
                {% else %}
                    {{ link_title }}
                {% endif %}
            </a>
        </div>
    {% endif %}
</div>
