<div>
    {% if block.settings.show_footer_title %}
        <p class="h4 footer__title">{{ block.settings.title }}</p>
    {% endif %}

    {% form 'customer', id: 'newsletter-footer' %}
        {% if form.posted_successfully? %}
            <div class="alert alert-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
        {% endif %}
        {% if form.context == 'footer' %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors | default_errors }}
                </div>
            {% endif %}
        {% endif %}
        {% if block.settings.text %}
            <div class="mx-3">{{ block.settings.text }}</div>
        {% endif %}

        <label for="Email-{{ block.id }}" class="visually-hidden">
            {{ 'general.newsletter_form.newsletter_email' | t }}
        </label>
        <input type="hidden" name="contact[tags]" value="prospect,newsletter">
        <input type="hidden" name="contact[context]" value="footer">
        <div class="footer__newsletter">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}"
                   placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]"
                   required aria-required="true"
                   id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off"
                   autocapitalize="off">
            <button type="submit" class="footer__newsletter-btn" name="commit" aria-label="Subscribe">
                {% render 'icon-email' %}
                <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
        </div>
    {% endform %}
</div>

<div class="mt-3">
    <ul class="footer__social-icons">
        {% if settings.social_facebook_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_facebook_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    {% render 'icon-facebook' %}
                    <span class="visually-hidden">Facebook</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_twitter_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    {% render 'icon-twitter' %}
                    <span class="visually-hidden">Twitter</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_pinterest_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    {% render 'icon-pinterest' %}
                    <span class="visually-hidden">Pinterest</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_instagram_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    {% render 'icon-instagram' %}
                    <span class="visually-hidden">Instagram</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_snapchat_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    {% render 'icon-snapchat' %}
                    <span class="visually-hidden">Snapchat</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_tumblr_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    {% render 'icon-tumblr' %}
                    <span class="visually-hidden">Tumblr</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_linkedin_link != blank %}
            <li>
                <a target="_blank" href="{{ settings.social_linkedin_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
                    {% render 'icon-linkedin' %}
                    <span class="visually-hidden">LinkedIn</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_youtube_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    {% render 'icon-youtube' %}
                    <span class="visually-hidden">YouTube</span>
                </a>
            </li>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
            <li>
                <a target="_blank" rel="noopener" href="{{ settings.social_vimeo_link }}"
                   title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    {% render 'icon-vimeo' %}
                    <span class="visually-hidden">Vimeo</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<style>
    .footer__social-icons {
        list-style: none outside;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer__social-icons li svg {
        margin: 0.5rem;
        height: 1.25rem;
        width: 1.25rem;
    }
</style>
