{% comment %}
variables required for render:
    main_menu,
    overlay_header
{% endcomment %}

{% unless limit %}
    {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
    {%- assign offset = 0 -%}
{% endunless %}

{% style %}
    {% comment %}
    until the style is integrated into sitewide stylesheet, the style is generated in local-work/header-bootstrap-nav.scss
    {% endcomment %}

    .navbar{--navbar-z-index: 5;--chums-red: #ce0e2d;--navbar-light-color: rgba(0,0,0,1);--navbar-light-underline: rgba(0,0,0,0.5);--navbar-light-underline-active: rgba(0,0,0,0.75);--navbar-dark-color: rgba(255,255,255,1);--navbar-dark-show-color: rgba(0,0,0,1);--navbar-dark-show-bg: rgba(255,255,255,0.75);--navbar-dark-underline: rgba(255,255,255,0.5);--navbar-dark-underline-active: rgba(255,255,255,0.75);flex-wrap:nowrap}.navbar .navbar-brand{margin-right:auto;flex:1 1 180px;min-width:180px;max-width:240px;text-align:left}.navbar .navbar-brand img{min-width:120px;margin:1rem 0}@media(min-width: 576px){.navbar .navbar-brand img{margin:1rem}}@media(min-width: 992px){.navbar .navbar-brand img{margin:1rem 2rem}}@media(max-width: 991.5px){.navbar .navbar-brand{margin-right:auto !important}}.navbar .navbar-toggler{order:3}.navbar .navbar-cart-toggler{order:2}@media(min-width: 992px){.navbar .navbar-cart-toggler{display:none}}.navbar .navbar-container{display:flex;width:100%}.navbar .navbar-collapse{position:absolute;top:0;left:-100vw;height:auto;z-index:var(--navbar-z-index);background-color:#fff;min-width:75vw;transition:left .35s ease;flex:1 1 auto}.navbar .navbar-collapse.collapsing{left:-100vw}.navbar .navbar-collapse.show{left:0;box-shadow:0 3px .5rem 1px rgba(0,0,0,.12)}@media(min-width: 992px){.navbar .navbar-collapse.show{box-shadow:none}}.navbar .navbar-collapse.collapsing .navbar--nav-icons,.navbar .navbar-collapse.show .navbar--nav-icons{display:none}@media(min-width: 992px){.navbar .navbar-collapse.collapsing .navbar--nav-icons,.navbar .navbar-collapse.show .navbar--nav-icons{display:block}}@media(min-width: 992px){.navbar .navbar-collapse{position:inherit;top:unset;left:unset;height:unset;z-index:var(--navbar-z-index);background-color:unset;min-width:unset}.navbar .navbar-collapse.collapsing,.navbar .navbar-collapse.show{left:unset}}@media(min-width: 992px){.navbar .navbar--nav-icons{position:absolute;top:0;right:1rem;padding:0}}@media(min-width: 1400px){.navbar .navbar--nav-icons{position:inherit;top:inherit;right:inherit;padding:inherit}}.navbar .navbar-toggler--mobile{display:flex;justify-content:flex-end;align-items:center}@media(min-width: 992px){.navbar .navbar-toggler--mobile{display:none}}.navbar .navbar-toggler--mobile .site-nav__link,.navbar .navbar-toggler--mobile .btn-close{color:inherit;padding:.25rem 1rem;margin-left:.125rem;margin-right:.125rem}.navbar .navbar-nav{width:100%}@media(min-width: 992px){.navbar .navbar-nav{margin-right:auto}}@media(min-width: 992px){.navbar .navbar-nav .nav-item.hidden-lg{display:none}}.navbar .navbar-nav .nav-item.dropdown{border-bottom:1px solid rgba(0,0,0,.5)}.navbar .navbar-nav .nav-item.dropdown:first-child{border-top:1px solid rgba(0,0,0,.5)}.navbar .navbar-nav .nav-item.dropdown a{white-space:nowrap}@media(min-width: 992px){.navbar .navbar-nav .nav-item.dropdown{border-width:0 !important}.navbar .navbar-nav .nav-item.dropdown:nth-last-child(-n+3) .dropdown-menu{left:auto;right:0}}@media(min-width: 1400px){.navbar .navbar-nav .nav-item.dropdown:nth-last-child(-n+3) .dropdown-menu{left:inherit;right:inherit}}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus,.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover{color:var(--chums-red);background-color:transparent}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item.active{color:#fff;background-color:var(--chums-red)}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image.show{display:flex !important;padding:1rem;margin-top:0;box-shadow:0 3px .5rem 1px rgba(0,0,0,.12)}@media(min-width: 576px){.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image.show{min-height:350px}}@media(min-width: 992px){.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image.show{min-width:40rem}}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image .dropdown-menu--image{display:none;flex:0 0 50%;height:auto;background-size:cover;background-repeat:no-repeat;order:2;min-width:15rem}@media(min-width: 576px){.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image .dropdown-menu--image{display:block}}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image .dropdown-menu--container{flex:0 0 100%;padding-left:0;min-width:15rem;list-style:none}@media(min-width: 576px){.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image .dropdown-menu--container{flex:0 0 50%}}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu.dropdown-menu--has-image .dropdown-menu--container li{padding-left:.5rem;padding-right:.5rem}.navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item{line-height:2}.navbar .navbar-nav .nav-item .nav-link{position:relative;transition:all .35s ease;padding:.75rem 1rem}@media(min-width: 992px){.navbar .navbar-nav .nav-item .nav-link{padding-left:1rem;padding-right:1rem}.navbar .navbar-nav .nav-item .nav-link:before{content:" ";position:absolute;width:0;height:2px;font-weight:bold;color:rgba(0,0,0,.5);background-color:rgba(0,0,0,.5);visibility:hidden;transition:all .35s ease;bottom:0;left:1rem}.navbar .navbar-nav .nav-item .nav-link:hover:before{visibility:visible;left:1rem;width:calc(100% - 2rem)}.navbar .navbar-nav .nav-item .nav-link.show:before{visibility:visible;width:100% !important;left:0 !important}}@media(min-width: 1200px){.navbar .navbar-nav .nav-item .nav-link{padding-left:2rem;padding-right:2rem}}.navbar .navbar-nav .dropdown-menu{border-radius:0;border-width:0}.navbar.navbar-light .navbar-nav .nav-item .nav-link{font-weight:500;letter-spacing:.1rem;color:var(--navbar-light-color)}.navbar.navbar-light .navbar-nav .nav-item .nav-link:before{background-color:var(--navbar-light-underline)}.navbar.navbar-light .navbar-nav .nav-item .nav-link.show:before{background-color:var(--navbar-light-underline-active)}.navbar.navbar-dark .navbar-nav .nav-item .nav-link{font-weight:bold;color:var(--navbar-light-color)}@media(min-width: 992px){.navbar.navbar-dark .navbar-nav .nav-item .nav-link{color:var(--navbar-dark-color)}}@media(min-width: 992px){.navbar.navbar-dark .navbar-nav .nav-item .nav-link.show{color:var(--navbar-dark-show-color);background-color:var(--navbar-dark-show-bg)}}.navbar.navbar-dark .navbar-nav .nav-item .nav-link:before{background-color:var(--navbar-dark-underline)}.navbar.navbar-dark .navbar-nav .nav-item .nav-link.show:before{background-color:var(--navbar-dark-underline-active)}.navbar .mobile-nav__social{margin:15px;padding-left:0}@media(min-width: 576px){.navbar .mobile-nav__social{flex-basis:25%}}/*# sourceMappingURL=header-bootstrap-nav.css.map */
{% endstyle %}

<nav class="navbar navbar-expand-lg {% if overlay_header %}navbar-dark bg-transparent{% else %}navbar-light bg-white{% endif %}"
     role="navigation">
    <!-- section.settings = {{ section.settings | json }} -->
    <div class="container-fluid">
        <div class="navbar-brand" itemscope itemtype="//schema.org/Organization">
            {% if template == 'index' %}
                {% render 'header-logo-block-home' %}
            {% else %}
                {% render 'header-logo-block' %}
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#chums--site-nav" aria-controls="chums--site-nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-cart-toggler">
            {% render 'header-cart-icon' %}
        </div>
        <div class="collapse navbar-collapse" id="chums--site-nav">
            <div class="navbar-toggler--mobile">
                {% render 'header-icons' %}
                <button class="btn-close" type="button"
                        data-bs-toggle="collapse" data-bs-target="#chums--site-nav" aria-controls="chums--site-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
            </div>
            <div class="navbar-container" style="display: flex; width: 100%;">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% for link in main_menu.links limit: limit offset: offset %}
                        {% assign has_dropdown = false %}
                        {% assign link_id = 'menu-' | concat: forloop.index0 %}
                        {% if link.levels > 0 %}
                            {% assign has_dropdown = true %}
                        {% endif %}
                        <li class="nav-item {% if has_dropdown %}dropdown{% endif %}"
                            data-for-menu="{{ link.title | handleize }}">
                            <a class="nav-link {% if false and has_dropdown %}dropdown-toggle{% endif %}"
                               href="{% if has_dropdown %}#{% else %}{{ link.url }}{% endif %}"
                                    {% if has_dropdown %}
                                        id="{{ link_id }}"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                    {% endif %}
                               aria-label="{{ link.title | escape }} menu">
                                {{ link.title }}
                            </a>
                            {% if has_dropdown %}
                                {% assign dropdown_image = false %}
                                {% if link.object.metafields.chums.menu_image and images[link.object.metafields.chums.menu_image] %}
                                    {% assign dropdown_image = images[link.object.metafields.chums.menu_image] %}
                                {% endif %}

                                <div class="dropdown-menu {% if dropdown_image %}dropdown-menu--has-image{% endif %}" aria-labelledby="{{ link_id }}">
                                    {% if dropdown_image %}
                                        <div class="dropdown-menu--image" style="background-image: url('{{ link.object.metafields.chums.menu_image | file_img_url: '400x400' }}')"></div>
                                    {% endif %}
                                    <ul class="dropdown-menu--container">
                                        {% for child_link in link.links %}
                                            <!-- link is current: {{ child_link.current | json }} -->
                                            <li>
                                                <a class="dropdown-item {% if child_link.current %}active{% endif %}"
                                                   {% if child_link.current %}aria-current="true" {% endif %}
                                                   href="{{ child_link.url }}">{{ child_link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="nav-item hidden-lg">
                        <a class="nav-link" href="{{ routes.account_url }}">
                        <span>
                          {%- if customer -%}
                              {{ 'layout.customer.account' | t | upcase }}
                          {%- else -%}
                              {{ 'layout.customer.log_in' | t | upcase }}
                          {%- endif -%}
                        </span>
                        </a>
                    </li>
                    <li class="nav-item hidden-lg">
                        {% render 'mobile-nav-social' %}
                    </li>
                </ul>
                <div class="navbar--nav-icons">
                    {% render 'header-icons' %}
                </div>
            </div>
        </div>
    </div>
</nav>
