{% comment %}
	variables used in this file: main_menu, 
{% endcomment %}

{% unless limit %}
    {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
    {%- assign offset = 0 -%}
{% endunless %}

{% assign current_url = canonical_url | replace: 'https://' |  replace: shop.domain %}

<nav>
    <ul class="site-nav site-navigation small--hide"
        role="menubar" aria-label="Main Menu">

        {% for link in main_menu.links limit: limit offset: offset %}
        {%- assign has_dropdown = false -%}
        {%- assign is_megamenu = false -%}
        {% if link.links != blank %}
            {%- assign has_dropdown = true -%}
            {% if link.levels > 1 %}
                {%- assign is_megamenu = true -%}
            {% else %}
                {% for nav_item in link.links %}
                    {% if nav_item.object.metafields.chums.menu_image %}
                        {%- assign is_megamenu = true -%}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}

        {%- assign menu_id = 'menu-' | append: link.title | handleize | append: '-' | append: forloop.index0 -%}

        <li data-for-menu="{{ link.title | handleize }}"
            role="menuitem"
            aria-labelledby="{{ menu_id }}"
            class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}"
            {% if has_dropdown %}aria-haspopup="true"{% endif %} >

            <a data-for-menu="{{ link.title | handleize }}"
               id="{{ menu_id }}"
               href="{{ link.url }}" aria-label="{{ link.title | escape }} menu"
               class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}">
                {{ link.title }}
            </a>
            {% if is_megamenu %}
                {%- assign previous_column_type = '' -%}
                {%- assign animation_column = 1 -%}


                <div role="menu"
                     aria-label="{{ link.title |  escape }}"
                     class="site-nav__dropdown site-nav__dropdown--{{ link.title | handleize }} megamenu text-left">
                    <div class="screen-width">
                        <div class="grid{% if dropdown_alignment == 'center' %} grid--center{% endif %}">
                            {% for childlink in link.links %}
                            {%- assign ariaLabel = childlink.title | escape -%}
                            {% case childlink.type %}
                                {% when 'collection_link' %}
                                    {%- assign ariaLabel = "Shop " | append: childlink.title | append: ' collection' -%}
                                {% when 'product_link' %}
                                    {%- assign ariaLabel = "Shop " | append: childlink.title -%}
                                {% when 'page_link' %}
                                    {%- assign ariaLabel = "View " | append: childlink.title | append: ' page' -%}
                            {% endcase %}
                            {% assign child_menu_id = menu_id | append: '-' | append: forloop.index0 %}

                            <div role="group" aria-labelledby="{{ child_menu_id }}"
                                 class="grid__item medium-up--one-fifth">
                                {%- assign subcollection_drop = false -%}
                                {%- assign  subcollection_image = false -%}
                                {% if childlink.levels > 0 and childlink.url contains '/collections/' %}
                                    {%- assign subcollection_handle = childlink.url | remove: '/collections/' -%}
                                    {%- assign subcollection_drop = collections[subcollection_handle] -%}
                                    {% if subcollection_drop.image != blank %}
                                        {%- assign  subcollection_image = true -%}
                                        <a href="{{ childlink.url }}" role="menuitem"
                                           {% if current_url == childlink.url %}aria-current="page"{% endif %}
                                           aria-label="{{ ariaLabel }}"
                                           id="{{ child_menu_id }}"
                                           class="megamenu__collection-image"
                                           style="background-image: url({{ collections[subcollection_handle].image | img_url: '400x' }})"></a>
                                    {% endif %}
                                {% endif %}

                                {%- assign submenu_image = false -%}
                                {% assign linkObject = childlink.object %}
                                {% if linkObject.metafields.chums.menu_image and images[linkObject.metafields.chums.menu_image] %}
                                    {% assign submenu_image = linkObject.metafields.chums.menu_image %}
                                {% endif %}

                                {% if submenu_image and subcollection_image == false %}
                                    {%- assign previous_column_type = 'full' -%}
                                    <a href="{{ childlink.url }}" id="{{ child_menu_id }}" role="menuitem"
                                       {% if current_url == childlink.url %}aria-current="page"{% endif %}
                                       aria-label="{{ ariaLabel }}"
                                       class="megamenu__child-image--link"
                                       style="background-image: url({{ submenu_image | file_img_url: '400x400' }})">
                                        <span class="megamenu__child-image--overlay">{{ childlink.title | split: ' ' | join: '<br>' }}</span>
                                    </a>
                                {% else %}
                                    <div class="h5 site-nav__link--underline-left">
                                        <a href="{{ childlink.url }}" id="{{ child_menu_id }}" role="menuitem"
                                           aria-label="{{ ariaLabel }}"
                                           {% if current_url == childlink.url %}aria-current="page"{% endif %}
                                           class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
                                    </div>
                                {% endif %}

                                {% for grandchildlink in childlink.links %}
                                {%- assign ariaGCLabel = grandchildlink.title | escape -%}
                                {% case grandchildlink.type %}
                                    {% when 'collection_link' %}
                                        {%- assign ariaGCLabel = "Shop " | append: grandchildlink.title | append: ' collection' -%}
                                    {% when 'product_link' %}
                                        {%- assign ariaGCLabel = "Shop " | append: grandchildlink.title -%}
                                    {% when 'page_link' %}
                                        {%- assign ariaGCLabel = "View " | append: grandchildlink.title | append: ' page' -%}
                                {% endcase %}
                                <div>
                                    <a href="{{ grandchildlink.url }}"
                                       role="menuitem"
                                       aria-label="{{ ariaGCLabel }}"
                                       {% if current_url == grandchildlink.url %}aria-current="page"{% endif %}
                                       class="site-nav__dropdown-link site-nav__gcl">
                                        {{ grandchildlink.title }}
                                    </a>
                                </div>
                                {% endfor %}<!-- /grandchildlink -->
                            </div>

                            {% endfor %}<!-- /childlink -->
                        </div>
                    </div>
                </div>
            {% elsif has_dropdown %}
                <ul class="site-nav__dropdown text-left">
                    {% for childlink in link.links %}
                        {%- assign has_sub_dropdown = false -%}
                        {% if childlink.links != blank %}
                            {%- assign has_sub_dropdown = true -%}
                        {% endif %}

                        <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                            <a href="{{ childlink.url }}"
                               class="site-nav__dropdown-link site-nav__dropdown-link--second-level {% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                                {{ childlink.title | escape }}
                                {% if has_sub_dropdown %}
                                    {% render 'icon-chevron-down' %}
                                {% endif %}
                            </a>
                            {% if has_sub_dropdown %}
                                <ul class="site-nav__deep-dropdown">
                                    {% for grandchildlink in childlink.links %}
                                        <li>
                                            <a href="{{ grandchildlink.url }}"
                                               class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}<!-- /main_menu.links -->
    </ul>
</nav>
