{% comment %}
variables required for render:
    main_menu
{% endcomment %}

{% unless limit %}
    {%- assign limit = main_menu.links.size -%}
{% endunless %}
{% unless offset %}
    {%- assign offset = 0 -%}
{% endunless %}

<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-40years"
     role="navigation">
    <!-- section.settings = {{ section.settings | json }} -->
    <div class="container-fluid">
        <div class="navbar-brand" itemscope itemtype="//schema.org/Organization">
            {% if template == 'index' %}
                <h1 class="navbar-brand__home">
                    <span class="visually-hidden">{{ shop.name }}</span>
                    {% render 'header-logo-block' %}
                </h1>
            {% else %}
                {% render 'header-logo-block' %}
            {% endif %}
        </div>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#chums--site-nav" aria-controls="chums--site-nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-cart-toggler">
            {% render 'header-cart-icon' %}
        </div>
        <div class="collapse navbar-collapse" id="chums--site-nav">
            <div class="navbar-toggler--mobile">
                {% render 'header-icons', id_suffix: 'mobile' %}
                <button class="btn-close" type="button"
                        data-bs-toggle="collapse" data-bs-target="#chums--site-nav" aria-controls="chums--site-nav"
                        aria-expanded="false" aria-label="Toggle navigation">
                </button>
            </div>
            <div class="navbar-container" style="display: flex; width: 100%;">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    {% for link in main_menu.links limit: limit offset: offset %}
                        {% assign has_dropdown = false %}
                        {% assign link_id = 'menu-' | append: forloop.index0 %}
                        {% if link.levels > 0 %}
                            {% assign has_dropdown = true %}
                        {% endif %}
                        <li class="nav-item {% if has_dropdown %}dropdown{% endif %}"
                            data-for-menu="{{ link.title | handleize }}">
                            <a class="nav-link {% if false and has_dropdown %}dropdown-toggle{% endif %}"
                               href="{% if has_dropdown %}#{% else %}{{ link.url }}{% endif %}"
                                    {% if has_dropdown %}
                                        id="{{ link_id }}"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                        aria-haspopup="true"
                                    {% endif %}
                               aria-label="{{ link.title | escape }} menu">
                                {{ link.title }}
                            </a>
                            {% if has_dropdown %}
                                {% assign dropdown_image = false %}
                                {% if link.object.metafields.chums.menu_image and images[link.object.metafields.chums.menu_image] %}
                                    {% assign dropdown_image = images[link.object.metafields.chums.menu_image] %}
                                {% endif %}
                                <div class="dropdown-menu {% if dropdown_image %}dropdown-menu--has-image{% endif %}" aria-labelledby="{{ link_id }}">
                                    {% if dropdown_image %}
                                        <div class="dropdown-menu--image" style="background-image: url('{{ dropdown_image | img_url: '400x400' }}')"></div>
                                    {% endif %}
                                    <ul class="dropdown-menu--container">
                                        {% for child_link in link.links %}
                                            <li>
                                                <a class="dropdown-item {% if child_link.current %}active{% endif %}"
                                                   {% if child_link.current %}aria-current="true" {% endif %}
                                                   href="{{ child_link.url }}">{{ child_link.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="nav-item hidden-lg">
                        <a class="nav-link" href="{{ routes.account_url }}">
                        <span>
                          {%- if customer -%}
                              {{ 'layout.customer.account' | t | upcase }}
                          {%- else -%}
                              {{ 'layout.customer.log_in' | t | upcase }}
                          {%- endif -%}
                        </span>
                        </a>
                    </li>
                    <li class="nav-item hidden-lg">
                        {% render 'mobile-nav-social' %}
                    </li>
                </ul>
                <div class="navbar--nav-icons">
                    {% render 'header-icons' %}
                </div>
            </div>
        </div>
    </div>
</nav>
