{%- assign blockId = block.id -%}
{% if product %}
    {%- assign blockId = block.id | append: product.id -%}
{% endif %}

<div class="index-section">
    <div class="container">

        <div class="row g-3 justify-content-center">
            <div class="col-12 {% if block.settings.narrow_column %} col-md-8 {% endif %}">
                {% if block.settings.title != blank %}
                    <div class="section-header">
                        <h2 class="section-header__title">
                            {{ block.settings.title }}
                        </h2>
                    </div>
                {% endif %}

                <div class="form-vertical">
                    {% form 'contact' %}

                        {% if form.posted_successfully? %}
                            <div class="alert alert-success">
                                {{ 'contact.form.post_success' | t }}
                            </div>
                        {% endif %}

                        {{ form.errors | default_errors }}

                        <div>
                            <label for="ContactFormReason-{{ blockId }}"><strong>Your Reason</strong></label>
                            <div class="form-check-container mb-3">
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-sales-{{ blockId }}"
                                           required
                                           name="contact[reason]" value="sales" class="form-check-input">
                                    <label class="form-check-label"
                                           for="ContactFormReason-sales-{{ blockId }}">
                                        Sales
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-cs-{{ blockId }}"
                                           name="contact[reason]" value="cs"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-cs-{{ blockId }}">
                                        Customer Service
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-tech-{{ blockId }}"
                                           name="contact[reason]" value="tech"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-tech-{{ blockId }}">
                                        Technical Information
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-comment-{{ blockId }}"
                                           name="contact[reason]" value="comment"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-comment-{{ blockId }}">
                                        Comments / Suggestions / Questions
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-ambassador-{{ blockId }}"
                                           name="contact[reason]" value="ambassador"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-ambassador-{{ blockId }}">
                                        Become an Ambassador
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-wholesale-{{ blockId }}"
                                           name="contact[reason]" value="wholesale"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-wholesale-{{ blockId }}">
                                        Wholesale Inquiry
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="ContactFormReason-pr-media-{{ blockId }}"
                                           name="contact[reason]" value="pr-media"
                                           required class="form-check-input">
                                    <label class="form-check-label" for="ContactFormReason-pr-media-{{ blockId }}">
                                        PR &amp; Media Request
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row g-3">
                            <div class="col-12 col-md-6">
                                <label for="ContactFormName-{{ blockId }}">{{ 'contact.form.name' | t }}</label>
                                <input type="text" id="ContactFormName-{{ blockId }}" class="form-control"
                                       name="contact[name]" autocapitalize="words"
                                       required
                                       autocomplete="name"
                                       value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
                            </div>

                            <div class="col-12 col-md-6">
                                <label for="ContactFormEmail-{{ blockId }}">{{ 'contact.form.email' | t }}</label>
                                <input type="email" id="ContactFormEmail-{{ blockId }}"
                                       class="form-control"
                                       required
                                       name="contact[email]" autocomplete="email"
                                       autocapitalize="off"
                                       value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
                            </div>

                            {% if block.settings.show_phone %}
                                <div class="col-12">
                                    <label for="ContactFormPhone-{{ blockId }}">{{ 'contact.form.phone' | t }}</label>
                                    <input type="tel" id="ContactFormPhone-{{ blockId }}"
                                           class="form-control" name="contact[phone]" autocomplete="tel"
                                           pattern="[0-9\-]*"
                                           value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                                </div>
                            {% endif %}

                        </div>

                        <div class="mb-5">
                            <label for="ContactFormMessage-{{ blockId }}">{{ 'contact.form.message' | t }}</label>
                            <textarea rows="5" id="ContactFormMessage-{{ blockId }}"
                                      class="form-control" required
                                      name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            {{ 'contact.form.send' | t }}
                        </button>

                    {% endform %}
                </div>
            </div>
        </div>
    </div>
</div>
