<div class="index-section {{ section_class }}">
    <div class="container text-{{ block.settings.align_text }}">
        <div class="row g-3 justify-content-center">
            <div class="col-12 {% if block.settings.narrow_column %} col-md-8{% endif %}">
                {% if block.settings.title != blank %}
                    {% if section.settings.page_title_enable == true %}
                        <p class="h2">
                            {{ block.settings.title | escape }}
                        </p>
                    {% else %}
                        <h1 class="h2">
                            {{ block.settings.title | escape }}
                        </h1>
                    {% endif %}
                {% endif %}
                {% if block.settings.text != blank %}
                    <div class="rte">
                        <div class="{% if block.settings.enlarge_text %}enlarge-text{% endif %}">
                            {{ block.settings.text }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
