<div class="faq-question">
  <div class="faq-question--button collapsed"
       data-bs-toggle="collapse" data-bs-target="#FAQ-content-{{ block.id }}"
       aria-expanded="false" aria-controls="FAQ-content-{{ block.id }}">
    <span class="ms-3">{{ block.settings.title }}</span>
  </div>
  <div class="card-text">
    <div id="FAQ-content-{{ block.id }}" class="collapse">
      <div class="card card-body rte">
        {{ block.settings.text }}
      </div>
    </div>
  </div>
</div>
