<div class="index-section">
    <div class="container text-{{ block.settings.align_text }}">
        {% if block.settings.title != blank %}
            <div class="section-header">
                <h2>{{ block.settings.title }}</h2>
            </div>
        {% endif %}
        {%- assign align = 'align-self-start' -%}
        {%- if block.settings.align_text == 'center' -%}
            {% assign align = 'align-self-center' %}
        {% elsif block.settings.align_text == 'right' %}
            {% assign align = 'align-self-end' %}
        {% endif %}
        <div class="row g-3 {{ align }} text-columns--{{ block.id }}">
            {% if block.settings.enable_image_1 or block.settings.title_1 != blank or block.settings.text_1 != blank %}
                <div class="col">
                    {% if block.settings.enable_image_1 %}
                        <div class="mb-1">
                        {% if block.settings.button_link_1 != blank %}
                            <a href="{{ block.settings.button_link_1 }}" target="_blank" rel="noreferrer">
                                <div class="visually-hidden">
                                    {% if block.settings.title_1 != blank %}
                                        <div>{{ block.settings.title_1 }}</div>
                                    {% endif %}
                                    {% if block.settings.text_1 != blank %}
                                        <div>{{ block.settings.text_1 }}</div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if block.settings.image_1 != blank %}
                                    {{ block.settings.image_1 | image_url: width: 800 | image_tag: class: 'img-fluid', loading: 'lazy' }}
                                {% else %}
                                    <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                                {% endif %}
                                {% if block.settings.button_link_1 != blank %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.settings.title_1 != blank %}
                        <p class="h3">{{ block.settings.title_1 }}</p>
                    {% endif %}
                    {% if block.settings.text_1 != blank %}
                        <div class="rte-setting text-spacing">{{ block.settings.text_1 }}</div>
                    {% endif %}
                    {% if block.settings.button_label_1 != blank %}
                        <a href="{{ block.settings.button_link_1 }}" class="btn btn--secondary btn--small"
                           target="_blank" rel="noreferrer">
                            <div class="visually-hidden">
                                {% if block.settings.title_1 != blank %}
                                    <div>{{ block.settings.title_1 }}</div>
                                {% endif %}
                                {% if block.settings.text_1 != blank %}
                                    <div>{{ block.settings.text_1 }}</div>
                                {% endif %}
                            </div>
                            {{ block.settings.button_label_1 }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if block.settings.enable_image_2 or block.settings.title_2 != blank or block.settings.text_2 != blank %}
                <div class="col">
                    {% if block.settings.enable_image_2 %}
                        <div class="mb-1">
                        {% if block.settings.button_link_2 != blank %}
                            <a href="{{ block.settings.button_link_2 }}" target="_blank" rel="noreferrer">
                                <div class="visually-hidden">
                                    {% if block.settings.title_2 != blank %}
                                        <div>{{ block.settings.title_2 }}</div>
                                    {% endif %}
                                    {% if block.settings.text_2 != blank %}
                                        <div>{{ block.settings.text_2 }}</div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if block.settings.image_2 != blank %}
                                    {{ block.settings.image_2 | image_url: width: 800 | image_tag: class: 'img-fluid', loading: 'lazy' }}
                                {% else %}
                                    <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                                {% endif %}
                                {% if block.settings.button_link_2 != blank %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.settings.title_2 != blank %}
                        <p class="h3">{{ block.settings.title_2 }}</p>
                    {% endif %}
                    {% if block.settings.text_2 != blank %}
                        <div class="rte-setting text-spacing">{{ block.settings.text_2 }}</div>
                    {% endif %}
                    {% if block.settings.button_label_2 != blank %}
                        <a href="{{ block.settings.button_link_2 }}" class="btn btn--secondary btn--small"
                           target="_blank" rel="noreferrer">
                            <div class="visually-hidden">
                                {% if block.settings.title_2 != blank %}
                                    <div>{{ block.settings.title_2 }}</div>
                                {% endif %}
                                {% if block.settings.text_2 != blank %}
                                    <div>{{ block.settings.text_2 }}</div>
                                {% endif %}
                            </div>
                            {{ block.settings.button_label_2 }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            {% if block.settings.enable_image_3 or block.settings.title_3 != blank or block.settings.text_3 != blank %}
                <div class="col">
                    {% if block.settings.enable_image_3 %}
                        <div class="mb-1">
                        {% if block.settings.button_link_3 != blank %}
                            <a href="{{ block.settings.button_link_3 }}" target="_blank" rel="noreferrer">
                                <div class="visually-hidden">
                                    {% if block.settings.title_3 != blank %}
                                        <div>{{ block.settings.title_3 }}</div>
                                    {% endif %}
                                    {% if block.settings.text_3 != blank %}
                                        <div>{{ block.settings.text_3 }}</div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {% if block.settings.image_3 != blank %}
                                    {{ block.settings.image_3 | image_url: width: 800 | image_tag: class: 'img-fluid', loading: 'lazy' }}
                                {% else %}
                                    <div class="image-wrap text-spacing">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                                {% endif %}
                                {% if block.settings.button_link_3 != blank %}
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if block.settings.title_3 != blank %}
                        <p class="h3">{{ block.settings.title_3 }}</p>
                    {% endif %}
                    {% if block.settings.text_3 != blank %}
                        <div class="rte-setting text-spacing">{{ block.settings.text_3 }}</div>
                    {% endif %}
                    {% if block.settings.button_label_3 != blank %}
                        <a href="{{ block.settings.button_link_3 }}" class="btn btn--secondary btn--small"
                           target="_blank" rel="noreferrer">
                            <div class="visually-hidden">
                                {% if block.settings.title_3 != blank %}
                                    <div>{{ block.settings.title_3 }}</div>
                                {% endif %}
                                {% if block.settings.text_3 != blank %}
                                    <div>{{ block.settings.text_3 }}</div>
                                {% endif %}
                            </div>
                            {{ block.settings.button_label_3 }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
</div>
{% style %}
    @media (max-width: 767.98px) {
        .text-columns--{{ block.id }} .col {flex-basis: 100%}
    }

{% endstyle %}
