
<div class="image-hero--wrapper image-hero--{{ block.id }}">
    {% unless block.settings.parallax %}
        {{ block.settings.image | image_url: width: 2000 | image_tag: loading: 'lazy', class: 'img-fluid image-hero--image' }}
    {% endunless %}
    {% assign hasSubLinks = false %}
    {% capture heroText %}
        <div class=" image-hero--text">
            <div class="container">
                <h2 class="image-hero--title">{{ block.settings.title }}</h2>
                <div class="image-hero--sub-heading">{{ block.settings.subheading }}</div>
                {% if block.settings.link and block.settings.link_text %}
                    {% assign hasSubLinks = true %}
                    <a href="{{ block.settings.link }}" rel="noreferrer" target="_blank">
                        <div class="image-hero--sub-heading">{{ block.settings.link_text }}</div>
                    </a>
                {% endif %}
                {% if block.settings.link_2 and block.settings.link_2_text %}
                    {% assign hasSubLinks = true %}
                    <a href="{{ block.settings.link_2 }}" rel="noreferrer" target="_blank">
                        <div class="image-hero--sub-heading">{{ block.settings.link_2_text }}</div>
                    </a>
                {% endif %}
            </div>
        </div>
    {%endcapture%}
    {% if hasSubLinks %}
        {{ heroText }}
    {% elsif block.settings.link %}
        <a href="{{ block.settings.link }}" rel="noreferrer" target="_blank">
            {{ heroText }}
        </a>
    {% else %}
        {{ heroText }}
    {% endif %}
</div>
{% assign textAlign = 'center' %}
{% assign alignItems = 'center' %}
{% assign alignCase = block.settings.text_align | split: ' ' | first %}
{% assign textCase = block.settings.text_align | split: ' ' | last %}
{% if textCase == 'horizontal-left' %}
    {% assign textAlign = 'left' %}
{% elsif textCase == 'horizontal-right' %}
    {% assign textAlign = 'right' %}
{% else %}
    {% assign textAlign = 'center' %}
{% endif %}
{% if alignCase == 'vertical-center' %}
    {% assign alignItems = 'center' %}
{% elsif alignCase == 'vertical-bottom' %}
    {% assign alignItems = 'flex-end' %}
{% else %}
    {% assign alignItems = 'flex-start' %}
{% endif %}

{% style %}
    .image-hero--{{ block.id }} {
        position: relative;
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
    }
    {% if block.settings.parallax and block.settings.image %}
        .image-hero--{{ block.id }} {
            background-image: url({{ block.settings.image | image_url: width: 1024 }});
            min-height: {{ 1024 | divided_by: block.settings.image.aspect_ratio }}px;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-position: {{ block.settings.focal_point }};
        }
        @media (min-width: 576px) {
            .image-hero--{{ block.id }} {
                background-image: url({{ block.settings.image | image_url: width: 2000 }});
                height: {{ block.settings.section_height }};

            }
        }
    {% endif %}
    .image-hero--{{ block.id }} .image-hero--image {
        max-height: {{ block.settings.section_height }};
        object-fit: cover;
        display: block;
    }
    .image-hero--{{ block.id }} .image-hero--text {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: {{ block.settings.color_accent }};
        display: flex;
        align-items: {{ alignItems }};
    }
    .image-hero--{{ block.id }} .image-hero--text .container {
        text-align: {{ textAlign }};
    }
    .image-hero--{{ block.id }} .image-hero--text .image-hero--title {
        font-size: {{ block.settings.title_size | divided_by: 2 }}px;
    }
    @media (min-width: 576px) {
        .image-hero--{{ block.id }} .image-hero--text .image-hero--title {
            font-size: {{ block.settings.title_size }}px;
        }
    }
    .image-hero--{{ block.id }} .image-hero--text .image-hero--sub-heading {
        margin-top: 1rem;
        font-size: {% if block.settings.title_size > 48 %} {{ block.settings.title_size | divided_by: 3 }}px {% else %}1rem{% endif %};
    }
{% endstyle %}
