{% comment  %}
Render options:
    section_id
    [className] = 'img-fluid'
    [containerClassName] = 'product-carousel-image-container'
    [width] = 2048
    [height] = ''
    [loading] = 'lazy' (default) | 'eager'
    [crop] = '' (default) | 'top' | 'center' | 'bottom' | 'left' | 'right'
    [thumb] = false
{% endcomment %}

<!-- media: {{ media | json }} -->

{% case media.media_type %}
    {% when 'image' %}
        {% unless width %}
            {% assign width = 2048 %}
        {% endunless %}
        {% unless loading %}
            {% assign loading = 'lazy' %}
        {% endunless %}
        {% unless containerClassName %}
            {% assign containerClassName = 'product-carousel-image-container' %}
        {% endunless %}
        {% unless className %}
            {% assign className = 'img-fluid' %}
        {% endunless %}
        {% assign altTag = media.alt %}
        {% if thumb %}
            {% assign altTag = media.alt | append: ' thumbnail' %}
        {% endif %}
        <div class="{{ containerClassName }}" data-media-id="{{ media.id }}">
            {{ media | image_url: width: width, height: height, crop: crop | image_tag: loading: loading, class: className, alt: altTag }}
        </div>
    {% when 'external_video' %}
        {% unless width %}
            {% assign width = 800 %}
        {% endunless %}
        {% unless height %}
            {% assign height = width | divided_by: media.aspect_ratio %}
        {% endunless %}
        {% if width <= 256 %}
            <div class="product-carousel-image-container" data-media-id="{{ media.id }}">
                {{ media.preview_image | image_url: width: width, height: height | image_tag: loading: 'lazy', class: className}}
            </div>
        {% else %}
            <div class="product-carousel-image-container {{ className }}" data-media-id="{{ media.id }}">
                {% capture yt_iframe %}
                    {{ media | external_video_tag: width: width, height: height }}
                {%endcapture%}
                {% assign yt_iframe = yt_iframe | replace: 'frameborder="0"', 'frameborder="0" loading="lazy"' %}
                {% if media.host == 'youtube' %}
                    {{ yt_iframe }}
                {% else %}
                    {{ media | external_video_tag: width: width, height: height }}
                {% endif %}
            </div>
        {% endif %}
    {% when 'video' %}
        <div class="product-single__media" data-media-id="{{ media.id }}">
            {{ media | video_tag: controls: true }}
        </div>
    {% when 'model' %}
        <div class="product-single__media" style="padding-top: 100%" data-media-id="{{ media.id }}">
            {{ media | model_viewer_tag }}
        </div>
    {% else %}
        <div class="product-single__media" style="padding-top: 100%;" data-media-id="{{ media.id }}">
            {{ media | media_tag }}
        </div>
{% endcase %}
