{% comment %}
	Required for render:
	product
    thumbnail_position
    description_style
    section_id
    isModal
    collection
    image_position
{% endcomment %}

<!-- section.settings {{ section.settings | json }} -->

{% unless thumbnail_position %}
    {%- assign thumbnail_position = 'beside' -%}
{% endunless %}

{% unless description_style %}
    {%- assign description_style = 'full' -%}
{% endunless %}

{%- assign product_img_structure = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
<div id="ProductSection-{{ section_id }}"
     class="product-section"
     data-section-id="{{ section_id }}" data-section-type="product-template" data-product-handle="{{ product.handle }}"
     data-product-url="{{ product.url | within: collection }}" data-aspect-ratio="{{ 100 | divided_by: product.featured_image.aspect_ratio }}"
     data-img-url="{{ product_img_structure }}"
        {%- if settings.product_zoom_enable %} data-image-zoom="true"{% endif -%}
        {%- if settings.inventory_enable %} data-inventory="true"{% endif -%}
        {%- unless isModal %} data-enable-history-state="true"{% endunless -%}
        {%- if isModal %} data-lazyload-content="true"{% endif -%}>
    <div class="container">
        {% if settings.show_breadcrumbs and isModal != true %}
            {% render 'product-breadcrumbs', collection: collection %}
        {% endif %}
    </div>

    {%- assign current_variant = product.selected_or_first_available_variant -%}
    {%- assign review_rating = false -%}

    {% render 'product-ldjson', product: product, current_variant: current_variant %}

    {% unless isModal %}
        <div class="modal fade product--zoom-modal" tabindex="-1" id="product--zoom-modal-{{ section_id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-xl modal-fullscreen-lg-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Zoomed Image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                    </div>
                    <div class="modal-body"></div>
                </div>
            </div>
        </div>
    {%endunless%}


    <div class="page-content page-content--product">
        <div class="container">
            <div class="product-container">
                <div class="product--title">
                    {% if isModal %}
                        <p class="h2 product-single__title">
                            {{ product.title }}
                        </p>
                    {% else %}
                        <h1 class="h2 product-single__title">
                            {{ product.title }}
                        </h1>
                    {% endif %}
                </div>
                <div class="product--basic-data">
                    {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}

                    <div id="Sku-{{ section_id }}" class="product-basic-data--sku product-single__sku" aria-live="polite"
                         aria-atomic="true">
                        <span class="sr-only">SKU:</span> {{ current_variant.sku }}
                    </div>

                    <div class="product--basic-data--pricing">
                        {%- assign hide_sale_price = true -%}
                        {% if product.compare_at_price_max > product.price %}
                            {% if current_variant.compare_at_price > current_variant.price %}
                                {%- assign hide_sale_price = false -%}
                            {% endif %}
                            <span id="PriceA11y-{{ section_id }}" class="visually-hidden"
                                  aria-hidden="{{ hide_sale_price }}">
                                {{ 'products.general.regular_price' | t }}
                            </span>
                            <span class="product__price-wrap-{{ section_id }}{% if hide_sale_price %} hide{% endif %}">
                                <span id="ComparePrice-{{ section_id }}" class="product__price product__price--compare">
                                    {% if current_variant.compare_at_price > current_variant.price %}
                                        {{ current_variant.compare_at_price | money }}
                                    {% endif %}
                                </span>
                            </span>
                            <span id="ComparePriceA11y-{{ section_id }}" class="visually-hidden">
                                {{- 'products.general.sale_price' | t -}}
                            </span>
                        {% else %}
                            <span id="PriceA11y-{{ section_id }}" class="visually-hidden">
                                {{- 'products.general.regular_price' | t -}}
                            </span>
                        {% endif %}

                        <span id="ProductPrice-{{ section_id }}"
                              aria-live="polite" aria-atomic="true"
                              class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
                            {{ current_variant.price | money }}
                        </span>

                        {% if settings.product_save_amount %}
                            {% if settings.product_save_type == 'dollar' %}
                                {% capture saved_amount %}{{ current_variant.compare_at_price | minus: current_variant.price | money }}{% endcapture %}
                            {% else %}
                                {% capture saved_amount %}{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round }}%{% endcapture %}
                            {% endif %}
                            <span id="SavePrice-{{ section_id }}"
                                  class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                                {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="product--images {% if image_position == 'right'%}product-images--right{%endif%}">
                    {% render 'product-images-3',
                            product: product,
                            current_variant: current_variant,
                            section_id: section_id,
                            isModal: isModal,
                            thumbnail_position: thumbnail_position
                    %}
                </div>

                {% if settings.inventory_enable %}
                    <div class="product--inventory">
                        <script>
                            // Store inventory quantities in JS because they're no longer
                            // available directly in JS when a variant changes.
                            // Have an object that holds all potential products so it works
                            // with quick view or with multiple featured products.
                            window.inventories = window.inventories || {};
                            window.inventories['{{ section_id }}'] = {};
                            {% for variant in product.variants %}
                            window.inventories['{{ section_id }}']['{{ variant.id }}'] = {{ variant.inventory_quantity | default: 0 }};
                            {% endfor %}
                        </script>

                        {% comment %}
                          If loaded in quick view, it might be from a JS-loaded function
                          that loads recommended products. If that's the case, the above
                          JS will not set the variant inventory. Add it to an accessible
                          data div to read later instead.
                        {% endcomment %}
                        {%- if isModal -%}
                            <div id="InventoryData-{{ section_id }}" data-section-id="{{ section_id }}"
                                 class="hide product__inventory-data" aria-hidden="true"
                            {%- for variant in product.variants -%}
                                data-{{ variant.id }}="{{ variant.inventory_quantity | default: 0 }}"
                                    {%- endfor -%}>
                            </div>
                        {%- endif -%}

                        {%- assign inventory_visible = false -%}
                        {% if current_variant.inventory_management == 'shopify' %}
                            {% if current_variant.inventory_quantity <= settings.inventory_threshold and current_variant.inventory_quantity >= 0 %}
                                {%- assign inventory_visible = true -%}
                            {% endif %}
                        {% endif %}
                        {% if current_variant.inventory_quantity == 0 %}
                            {%- assign inventory_visible = false -%}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="product--cart-form">
                    {% unless isModal %}
                        {% comment %}
                          Shopify's product form attaches a number of tracking
                          scripts that cause slower load times and false statistics.
                          Quick view modals request these on-demand.
                        {% endcomment %}
                        {% render 'product-form', product: product, section_id: section_id, current_variant: current_variant  %}
                    {% else %}
                        <div id="ProductFormHolder-{{ section_id }}" class="product-form-holder"
                             data-url="{{ product.url }}"></div>
                    {% endunless %}
                </div>

                <div class="product--description">
                    {% render 'product-description-tabs', product: product, block: block %}
                    {% render 'product-additional-content', section_id: section_id %}
                </div>


                {% if section.settings.social_enable %}
                    <div class="product--social-sharing">
                        {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
