<div class="js-qty__wrapper">
    <div class="input-group">
        <button type="button"
                class="js-qty__adjust js-qty__adjust--minus btn btn-outline-secondary"
                aria-label="{{ 'cart.general.reduce_quantity' | t }}">
            {% render 'icon-minus' %}
            <span class="visually-hidden" aria-hidden="true">&minus;</span>
        </button>
        <input type="text" id="Quantity-{{ id }}"
               class="js-qty__num form-control"
               value="{{ qty }}"
               min="{{ min }}"
               aria-label="quantity"
               pattern="[0-9]*"
               name="quantity">

        <button type="button"
                class="js-qty__adjust js-qty__adjust--plus btn btn-outline-secondary"
                aria-label="{{ 'cart.general.increase_quantity' | t }}">
            {% render 'icon-plus' %}
            <span class="visually-hidden" aria-hidden="true">+</span>
        </button>
    </div>
</div>
