{%- assign productType = type | handleize -%}
{%- assign optionName = name | handleize -%}
{%- assign optionValue = value | handleize -%}

{%- case productType -%}
	{%- when 'retainer' -%}
		{%- case optionName -%}
			{%- when 'end-size' -%}
				<span class="sr-only">End Size: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'regular' -%}
						{{- 'R' -}}
					{%- when 'standard' -%}
						{{- 'STD' -}}
					{%- when 'large' -%}
						{{- 'L' -}}
					{%- when 'small' -%}
						{{- 'S' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
			{%- when 'rope-size' -%}
				<span class="sr-only">Rope Size: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when '3mm' -%}
						{{- '3' -}}
					{%- when '5mm' -%}
						{{- '5' -}}
					{%- when 'kids-3mm' -%}
						{{- 'K' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
			{%- when 'length' -%}
			<span class="sr-only">Length: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'regular' -%}
						{{- 'R' -}}
					{%- when 'long' -%}
						{{- 'L' -}}
				{%- endcase -%}
			{%- else -%}
			<span class="sr-only">Size: {{ optionValue }}</span>
			{{- value | escape -}}
		{%- endcase -%}
	{%- when 'apparel' -%}
		{%- case optionName -%}
			{%- when 'size' -%}
				<span class="sr-only">Size: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'small' -%}
						{{- 'SM' -}}
					{%- when 'medium' -%}
						{{- 'MD' -}}
					{%- when 'large' -%}
						{{- 'LG' -}}
					{%- when 'x-large' -%}
						{{- 'XL' -}}
					{%- when 'xx-large' -%}
						{{- 'XXL' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
		{%- endcase -%}
	{%- when 'outdoor-accessories' -%}
		{%- case optionName -%}
			{%- when 'width' -%}
				<span class="sr-only">Width: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'standard' -%}
						{{- 'STD' -}}
					{%- when 'wide' -%}
						{{- 'WD' -}}
					{%- when 'small' -%}
						{{- 'SM' -}}
					{%- when 'micro' -%}
						{{- 'XS' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
			{%- when 'size' -%}
				<span class="sr-only">Size: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'small' -%}
						{{- 'S' -}}
					{%- when 'large' -%}
						{{- 'L' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
			{% else %}
			{{- value | escape -}}
		{%- endcase -%}
	{%- when 'bags-cases' -%}
		{%- case optionName -%}
			{%- when 'size' -%}
				<span class="sr-only">Size: {{ optionValue }}</span>
				{%- case optionValue -%}
					{%- when 'small' -%}
						{{- 'S' -}}
					{%- when 'large' -%}
						{{- 'L' -}}
					{%- else -%}
						{{- value | escape -}}
				{%- endcase -%}
			{% else %}
			{{- value | escape -}}
		{%- endcase -%}
	{%- else -%}
		{{- value | escape -}}
{%- endcase -%}
