{% comment %}
Required for render:
       block
       index
{% endcomment %}

{%- assign hero_text = false -%}
{%- assign link_slide = false -%}
{% if block.settings.top_subheading != blank or block.settings.title != blank or block.settings.subheading != blank or block.settings.link_text != blank %}
    {%- assign hero_text = true -%}
{% endif %}
<picture>
    {% if block.settings.image_portrait %}
        <source media="(max-width: 425px)" srcset="{{ block.settings.image_portrait.src | image_url: width: 425 }}" >
        <source media="(max-width: 768px)" srcset="{{ block.settings.image_portrait.src | image_url: width: 768 }}" >
    {% else %}
        <source media="(max-width: 425px)" srcset="{{ block.settings.image.src | image_url: width: 425 }}" >
        <source media="(max-width: 768px)" srcset="{{ block.settings.image.src | image_url: width: 768 }}" >
    {% endif %}
    <source media="(max-width: 1200px)" srcset="{{ block.settings.image.src | image_url: width: 1200 }}" >
    <source media="(max-width: 1920px)" srcset="{{ block.settings.image.src | image_url: width: 1920 }}" >
    <source media="(max-width: 2560px)" srcset="{{ block.settings.image.src | image_url: width: 2560 }}" >
    <img class="d-block w-100" src="{{ block.settings.image.src | image_url }}"
         data-loading="{% if index == 0 %}eager{% else %}lazy{% endif %}"
         alt="{{ block.settings.image.alt | default: block.settings.title | escape }}">
</picture>
{% if hero_text %}
    <div class="carousel-caption">
        {% if block.settings.title != blank %}
            <div class="caption-text h4" style="color: {{ block.settings.text_color_accent }};">
                {{ block.settings.title | newline_to_br }}
            </div>
        {% endif %}
        {% if block.settings.subheading != blank %}<p>{{ block.settings.subheading | newline_to_br }}</p>{% endif %}
        {% if block.settings.link_text != blank %}
            <a href="{{ block.settings.link }}" class="btn" style="color: {{ block.settings.text_color_accent }};">
                {{ block.settings.link_text }}
            </a>
        {% endif %}
    </div>
{% endif %}
