<div class="toolbar{% if overlay_header%} toolbar--transparent{% endif %} small--hide" role="banner">
  <div class="page-width">
    <div class="toolbar__content">
      {% if section.settings.toolbar_menu != blank %}
        <div class="toolbar__item toolbar__item--menu">
          <ul class="inline-list toolbar__menu">
          {% for link in toolbar_menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if section.settings.toolbar_social %}
        <div class="toolbar__item">
          <ul class="inline-list toolbar__social">
            {% if settings.social_facebook_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                  {% render 'icon-facebook' %}
                  <span class="visually-hidden">Facebook</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_twitter_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                  {% render 'icon-twitter' %}
                  <span class="visually-hidden">Twitter</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_pinterest_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                  {% render 'icon-pinterest' %}
                  <span class="visually-hidden">Pinterest</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_instagram_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                  {% render 'icon-instagram' %}
                  <span class="visually-hidden">Instagram</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_snapchat_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_snapchat_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                  {% render 'icon-snapchat' %}
                  <span class="visually-hidden">Snapchat</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_tumblr_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                  {% render 'icon-tumblr' %}
                  <span class="visually-hidden">Tumblr</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_linkedin_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_linkedin_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'LinkedIn' }}">
                  {% render 'icon-linkedin' %}
                  <span class="visually-hidden">LinkedIn</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_youtube_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                  {% render 'icon-youtube' %}
                  <span class="visually-hidden">YouTube</span>
                </a>
              </li>
            {% endif %}
            {% if settings.social_vimeo_link != blank %}
              <li>
                <a target="_blank" href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                  {% render 'icon-vimeo' %}
                  <span class="visually-hidden">Vimeo</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      {% endif %}

      {% if settings.enable_currencies and section.settings.toolbar_currencies %}
        <div class="toolbar__item">
          {% render 'currency-picker', picker_id: 'header' %}
        </div>
      {% endif %}
    </div>

  </div>
</div>
