{%- assign per_page = section.settings.products_per_page -%}
{%- assign per_row = section.settings.per_row -%}
{% if collection.handle == 'chums' or collection.handle == 'outdoor-accessories' %}
    {% assign per_page = collection.products.count %}
{% endif %}

{% paginate collection.products by per_page %}
<div id="CollectionSection" data-section-id="{{ section.id }}" data-section-type="collection-template">

    {% if section.settings.subcollection_style == 'above' %}
        {% render 'subcollections',
                per_row: section.settings.subcollections_per_row,
                current_tags: current_tags,
                linklists: linklists %}
    {% endif %}

    <div class="collection-filter">
        {%- assign current_filter_size = current_tags | size -%}
        <div class="collection-filter__item collection-filter__item--warning hidden">No matching products.</div>
        <div class="collection-filter__item collection-filter__item--count">
            {{ 'collections.general.items_with_count' | t: count: collection.products_count }}
        </div>

        <div class="collection-filter__item collection-filter__item--sort">
            <div class="collection-filter__sort-container">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                {%- assign default_sorted = false -%}
                {% if sort_by == collection.default_sort_by %}
                    {%- assign default_sorted = true -%}
                {% endif %}
                <label for="SortBy" class="visually-hidden">{{ 'collections.sorting.title' | t }}</label>
                <select name="SortBy" id="SortBy" class="form-select">
                    <option value="title-ascending"{% if sort_by == collection.default_sort_by %} selected="selected"{% endif %}>{{ 'collections.sorting.title' | t }}</option>
                    {% for option in collection.sort_options %}
                        <option value="{{ option.value }}"
                                {% unless default_sorted %}{% if option.value == sort_by %}selected="selected"{% endif %}{% endunless %}>
                            {{- option.name -}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="product-grid row g-3">
        {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}

        {% case per_row %}
            {% when 2 %}
                {%- assign grid_item_width = 'col-12 col-md-6' -%}
            {% when 3 %}
                {%- assign grid_item_width = 'col-6 col-md-4' -%}
            {% when 4 %}
                {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3' -%}
            {% when 5 %}
                {%- assign grid_item_width = 'col-6 col-md-4 col-lg-3 col-xl-2' -%}
        {% endcase %}

        {% for product in collection.products %}
            {% render 'product-grid-item-2', product: product, grid_item_width: grid_item_width  %}
        {% else %}
            <div class="grid__item">
                <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>
        {% endfor %}

    </div>
    <div class="alert alert-warning d-none" id="product-grid--all-filtered"><strong class="me-3">Oops!</strong>No products match your filters.</div>

    {% if section.settings.subcollection_style == 'below' %}
        {% render 'subcollections',
                per_row: section.settings.subcollections_per_row,
                current_tags: current_tags,
                linklists: linklists %}
    {% endif %}

    {% if paginate.pages > 1 %}
        {% include 'pagination' %}
    {% endif %}
</div>

{% endpaginate %}

{% schema %}
    {
        "name": "Filterable Products",
        "settings": [
            {
                "type": "header",
                "content": "Subcollections"
            },
            {
                "type": "paragraph",
                "content": "Links to collections from your menu will appear here. [Learn more](https://archetypethemes.co/blogs/impulse/how-do-i-create-subcollections)"
            },
            {
                "type": "select",
                "id": "subcollection_style",
                "label": "Subcollection style",
                "default": "above",
                "options": [
                    {
                        "value": "above",
                        "label": "Above products"
                    },
                    {
                        "value": "below",
                        "label": "Below products"
                    },
                    {
                        "value": "none",
                        "label": "None"
                    }
                ]
            },
            {
                "type": "range",
                "id": "subcollections_per_row",
                "label": "Subcollections per row",
                "default": 5,
                "min": 2,
                "max": 5,
                "step": 1
            },
            {
                "type": "header",
                "content": "Products"
            },
          {
            "type": "range",
            "id": "products_per_page",
            "label": "Products per page",
            "default": 24,
            "min": 12,
            "max": 48,
            "step": 4
          },
            {
                "type": "range",
                "id": "per_row",
                "label": "Products per row",
                "default": 4,
                "min": 2,
                "max": 5,
                "step": 1
            },
            {
                "type": "checkbox",
                "id": "show_reviews",
                "label": "Show Product Reviews"
            },
            {
                "type": "checkbox",
                "id": "reviews_on_hover",
                "label": "Show Product Reviews on Hover"
            },
            {
                "type": "checkbox",
                "id": "swatches_on_hover",
                "label": "Show Product Swatches on Hover"
            }
        ]
    }
{% endschema %}
