{% assign names = page.title | split: ',' %}
{% assign firstname = page.title %}
{% if page.title.size > 1 %}
	{% assign firstname = names[1] %}
{% endif %}
{% assign lastname = names[0] %}

<div class="page-width page-content">
  {% render 'page-breadcrumbs', page_parent: pages['ambassadors'] %}

  <div class="row g-3  justify-content-center">
    <div class="col-12 col-md-8">
      <div class="ambassador__container">
        <div class="ambassador__main">
          <img class="ambassador__image--hero img-fluid" loading="lazy" src={{page.metafields.chums.header_image | file_img_url: '1100x'}}>
          <div class="ambassador__content">
            <div class="ambassador__name">
              <h1>{{ firstname }} {{ lastname }}</h1>
              <h2>{{page.metafields.chums.tags | split: '|' | join: ', '}}</h2>
            </div>

            <div class="rte rte--nomargin">
              {{ page.content }}
            </div>
          </div>
        </div>
        <div class="ambassador__products row g-3 justify-content-around">
          <h3>{{firstname}}'s Essentials</h3>
          {%- assign products = page.metafields.chums.featured_products | split: '|' -%}
          {%- for _prod in products -%}
            {%- assign product = all_products[_prod] -%}
            {% if product.id != empty  %}
              {% render 'product-grid-item-2', grid_item_width: 'col-6 col-md-4 col-lg-3', product: product %}
            {% endif %}
          {%- endfor -%}
        </div>
      </div>

    </div>
  </div>

</div>
