{% paginate search.results by 12 %}

    <div class="container">

        {% render 'page-breadcrumbs' %}

        <header class="section-header">
            <h1 class="section-header__title">
                {{ 'general.search.title' | t }}
            </h1>
        </header>
        {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

        {% if search.performed %}

            <hr class="hr--medium">

            <div data-section-id="{{ section.id }}" data-section-type="collection-template">
                <div class="section-header">
                    <h2 class="section-header__title">
                        {{ 'general.search.result_count' | t: count: search.results_count }}
                    </h2>
                    {% if search.results_count == 0 %}
                        <p>
                            {{ 'general.search.no_results_html' | t: terms: search.terms }}
                        </p>
                    {% endif %}
                </div>

                <div class="row g-3">
                    {% for item in search.results %}

                        {% if item.object_type == 'product' %}
                            {%- assign product = item -%}
                            {% render 'product-grid-item-2', product: item %}
                        {% else %}
                            <div class="col-6 col-md-4 col-lg-3">
                                <div class="grid-search__page search-result--{{ item.object_type }}">
                                    <a href="{{ item.url }}" class="grid-search__page-link">
                                      <div>
                                        <div class="h4">{{ item.title }}</div>
                                        {% if item.object_type == 'article' and item.image %}
                                            {{ item.image | image_url: size: 600 | image_tag: widths: '180,360,540,600', loading: 'lazy', class: 'img-thumbnail'  }}
                                        {% endif %}
                                          <div class="search-result--{{ item.object_type }}-content">
                                              {{ item.content | strip_html | truncatewords: 60 }}
                                          </div>
                                      </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                    {% for item in search.results %}
                        {% if item.object_type == 'product' %}
                            {% if settings.quick_shop_enable %}
                                {%- assign product = item -%}
                                {% include 'quick-shop-modal' %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if paginate.pages > 1 %}
                {% include 'pagination' %}
            {% endif %}

        {% endif %}
    </div>

{% endpaginate %}
<style>
    .search-result--page-content {
        margin: 1rem;
        padding: 1rem;
        border: 1px solid var(--bs-gray-300);

    }
</style>
